# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Tools and editors
.DS_Store
Thumbs.db
.idea/
.vscode/

# Temporary files
*.log
*.tmp
*~
